* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: "roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.nav {
    background-color: #0f000f;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 24px;
}

.nav-list li:hover {
    transform: scale(1.15);
    transition: 0.7s;
}

.nav-list a {
    text-decoration: none;
    color: #a4a4a4;
    padding: 20px;
}

.nav-list a:hover {
    color: white;
    transition: 0.7s;
    font-weight: bold;
}

.main {
    width: 100%;
    background-color: #4949499a;
    height: calc(100vh - 80px);
    background-image: url(../img/programador.png);
    align-items: center;
    display: flex;
    padding: 8%;
}

.main h1 {
    color: white;
    font-size: 54px;
}

.main h1:hover {
    transform: scale(1.07);
    transition: 1s;
}

.main p {
    font-size: 24px;
    color: #1e96fc;
    margin-top: 10px;
}

.main p:hover {
    transform: scale(1.05);
    transition: 0.95s;
}

.call-in-action {
    cursor: pointer;
    background-color: #fff;
    border: 0;
    padding: 14px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8%;
}

.call-in-action:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dbd7d7;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.sobre div {
    max-width: 50%;
}

.sobre img {
    width: 500px;
    border-radius: 100px;
}

.sobre img:hover {
    transform: scale(1.04);
    transition: 0.5s;
}

.sobre h2 {
    padding-bottom: 12px;
    font-size: 42px;
}

.sobre h2:hover {
    transform: scale(1.07);
    transition: 0.5s;
}

.sobre p {
    font-size: 18px;
}

.sobre p:hover {
    transform: scale(1.05);
    transition: 0.5s;
    color: orangered;
}

.projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    justify-content: center;
    align-items: center;
}

.lista-projeto {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projetos img {
    width: 25%;
    margin-right: 0.7%;
    margin-left: 0.7%;
    margin-bottom: 0.7%;
    border-radius: 12px;
    opacity: 0.75;
    transition: 0.5s;
}

.projetos img:hover {
    opacity: 1;
    transform: scale(1.1);
}

.projetos h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 20px;
}

.projetos h2:hover {
    transform: scale(1.07);
    transition: 0.7s;
}

.projetos p {
    margin-bottom: 40px;
    font-style: italic;
    font-size: 18px;
}

.projetos p:hover {
    transform: scale(1.05);
    transition: 0.5s;
    color: orangered;
}

.action {
    background-color: #0f000f;
    border: 0;
    padding: 14px 28px;
    border-radius: 12px;
    font-size: 18px;
    margin-top: 18px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.action:hover {
    transform: scale(1.1);
    transition: 0.9s;
}

footer {
    background-color: #0f000f;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
    display: flex;
    color: #fff;
}

footer p {
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
}